/* =========================
   BASE
========================= */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0b1c2d;
  color: #ffffff;
  margin: 0;
}

header {
  background: #001529;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* =========================
   LAYOUT
========================= */
.container {
  max-width: 900px;
  margin: 30px auto;
  background: #102a43;
  padding: 25px;
  border-radius: 8px;
}

/* =========================
   FORMULÁRIOS
========================= */
input,
select,
button,
textarea {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  background: #198754;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #146c43;
}

button.logout {
  background: #b02a37;
}

button.logout:hover {
  background: #842029;
}

/* =========================
   CARDS
========================= */
.card {
  background: #173a5e;
  padding: 15px;
  margin-top: 15px;
  border-radius: 6px;
}

.info {
  margin-top: 6px;
  font-weight: bold;
}

/* =========================
   TABELAS – CONSULTA
========================= */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 14px;
}

th {
  background-color: #2f3e4e;
  color: #ffffff;
  padding: 10px;
  border: 1px solid #555;
  text-align: center;
}

td {
  padding: 8px 12px;
  border: 1px solid #555;
  text-align: center;
}

/* =========================
   LINHAS POR TIPO
========================= */

/* ADIÇÃO DE PONTOS */
tr.adicao {
  background-color: #173a5e;
  color: #ffffff;
}

/* COMPENSAÇÃO DE FOLGA */
tr.comp {
  background-color: #e6e6e6;
  color: #000000;
  font-weight: bold;
}

/* SALDO FINAL */
tr.saldo {
  background-color: #cfcfcf;
  color: #000000;
  font-weight: bold;
  border-top: 3px solid #000;
}

/* =========================
   RESPONSIVIDADE
========================= */
@media (max-width: 768px) {
  th, td {
    font-size: 12px;
    padding: 6px;
  }
}
/* ===== TOPO INSTITUCIONAL ===== */
.topo {
  background: #001529;
  padding: 15px 10px;
  text-align: center;
}

.brasao {
  height: 80px;        /* controle do tamanho */
  display: block;
  margin: 0 auto 8px; /* centraliza */
}

.titulo-topo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}